{% extends 'roadmap/base.html' %}

{% block content %}

<h2 class="text-warning">📊 Dashboard</h2>

<div class="row">

    {% for item in dashboard_data %}
        <div class="col-md-4">

            <div class="card-dark mb-3">

                <h5>{{ item.domain.name }}</h5>

                <p>{{ item.progress }}%</p>

                <div class="progress mb-2">
                    <div class="progress-bar" style="width: {{ item.progress }}%;"></div>
                </div>

                <a href="/roadmap/{{ item.domain.id }}/" class="btn btn-warning btn-sm">
                    Open
                </a>

            </div>

        </div>
    {% endfor %}

</div>
<div class="card-dark mb-4">

    <h4>🔥 Current Streak</h4>

    <h2 class="text-warning">{{ streak }} days</h2>

    {% if streak == 0 %}
        <p class="text-muted">Start learning today to build your streak!</p>
    {% else %}
        <p class="text-success">Keep it going! 🚀</p>
    {% endif %}

</div>
{% endblock %}